.section.portfolio {
    background-color: #EEEEEE;
    padding-bottom: 25px;
}

.portfolio_card {
    width: 345px;
    height: 375px;
    display: inline-block;
    background-color: darkgrey;
    position: relative;
    margin-bottom: 30px;
}

.portfolio_card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}

.portfolio_card-footer > span {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-left: 19px;
    margin-top: 20px;
}

.portfolio-btn_more {
    width: 120px;
    height: 45px;
    text-align: center;
    font-size: 21px;
    background-color: #fff;
    color: #262626;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto 25px;
    display: block;
    cursor: pointer;
}

.portfolio-btn_more:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .section.portfolio {
        padding-bottom: 175px;
    }

    .portfolio_card {
        width: 396px;
        height: 396px;
        display: inline-block;
        margin-left: 45px;
        margin-bottom: 45px;
        background-color: darkgrey;
    }
}