@import url('reset.css');
@import url('header.css');
@import url('main_hero.css');

body {
    max-width: 1920px;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
} 

.portfolio_card {
    width: 396px;
    height: 396px;
    display: inline-block;
    margin-left: 45px;
    margin-bottom: 45px;
    background-color: darkgrey;
}
