.navigation-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.portfolio_card {
    width: 396px;
    height: 396px;
    display: inline-block;
    margin-left: 45px;
    margin-bottom: 45px;
    background-color: darkgrey;
}